body{
  margin: 0;
  padding: 0;
}

header{
  display: inline-block;
  position:fixed;
  background-color: rgb(241, 19, 19);
  width: 100%;
}

li{
  display: inline-block;
  background-color: rgb(254, 254, 254);
  border-radius: 20px;
  padding: 10px;
  color: rgb(224, 24, 24);
  font-size: 21px;
}
